<body>
    <div class="container">
        <h2>Welcome {{user}}</h2>

        <a routerLink="/transaction">Transaction History</a><br>
        <h4>Last login {{lData}}</h4>
        <h4>Last login formatted: {{lData |date |uppercase}}</h4>
        <h4>Last login formatted: {{lData |date : 'short'}}</h4>
        
        <app-animation></app-animation>
            <div class="row">
                <div class="col-lg-4 col-sm-12 first"></div>
        
                    <h2 appHighlight>Medicine List</h2>
                    <hr>
              
                    <!-- <div class="items" id="displayArea"></div> -->
                </div>
                
            </div>
        
    </div>
    <br>
    <app-delete-confirmation (onCancel)="onCancel()" (onDelete)="onDelete($event)" [item]="acno"></app-delete-confirmation>
    <div id ="delete1" class="col-lg-4 col-sm-12">
        <button class="item" (click)="deleteAcc()">Delete</button>
    </div>

</body>
